<!DOCTYPE html>
<html th:fragment="layout(main)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../../static/css/bootstrap/css/bootstrap.min.css"
          th:href="@{/css/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/bootstrap/css/app.css" th:href="@{/css/bootstrap/css/app.css}">
</head>
<body>
<section>
    <head>
        <div class="container mt-2">
            <div class="cart col-md-3">
                <a th:href="@{/view-cart}" th:if="${show}">
                <img class="mt-2" src="../../static/images/cart.gif" th:src="@{/images/cart.gif}" alt="cart">&nbsp;
                <span class="badge badge-secondary" th:text="${cartSize}"></span>
                </a>
                <div >
                </div>
            </div>
            <div class="col-md-6" style="margin-left: 700px; margin-top: 10px; margin-bottom: -30px;">
                <a th:href="@{'/home?lang=us'}">Us</a> | <a th:href="@{'/home?lang=my'}">Myanmar</a>
            </div>
            <div class="col-md-1 ">
                <div th:if="${!show}" class="mt-2"></div>
            <a th:href="@{/home}">
                <img id="logo" src="../../static/images/logo.png" th:src="@{/images/logo.png}" alt="images"/>
            </a>
            </div>
            <img id="logoText" src="../../static/images/logoText.png" th:src="@{/images/logoText.png}" alt="images">
            <img id="stalk" src="../../static/images/stalk.png" th:src="@{/images/stalk.png}" alt="images">
        </div>
    </head>
</section>
<section>
    <div th:replace="${main}"></div>
</section>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>