<!DOCTYPE html>
<html th:replace="layout/mainLayout :: layout(~{::main})" th xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container my-5">
        <div class="row">
            <div class="col col-md-6">
                <h3 th:text="#{home.wel}"></h3>
                <br>
                <p class="lead">Enjoy browsing and learning mre about our
                    unique home delivery service bringing you fresh
                    organic produce,dairy,meats,breads and other
                    delicious and healthy items to you doorstep.</p>
            </div>
            <div class="col col-md-6">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=1'}">
                            <img class="img-fluid" src="../static/images/categories/dairy.jpg"
                                 th:src="@{/images/categories/dairy.jpg}" alt="images">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=2'}">
                            <img class="img-fluid" src="../static/images/categories/meats.jpg"
                                 th:src="@{/images/categories/meats.jpg}" alt="images">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=3'}">
                            <img class="img-fluid" src="../static/images/categories/bakery.jpg"
                                 th:src="@{/images/categories/bakery.jpg}" alt="images">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=4'}">
                            <img class="img-fluid" src="../static/images/categories/fruitveg.jpg"
                                 th:src="@{/images/categories/fruitveg.jpg}" alt="images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>