<!DOCTYPE html>
<html th:replace="layout/mainLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-column text-center text-capitalize">
                    <a th:href="@{'/products?cid=1'}" class=" bg-button my-3" th:text="#{p.c1}"></a>
                    <a th:href="@{'/products?cid=2'}" class=" bg-button my-3" th:text="#{p.c2}"></a>
                    <a th:href="@{'/products?cid=3'}" class=" bg-button my-3" th:text="#{p.c3}"></a>
                    <a th:href="@{'/products?cid=4'}" class=" bg-button my-3" th:text="#{p.c4}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{t1.th1}"></th>
                        <th th:text="#{t1.th2}"></th>
                        <th th:text="#{t1.th3}"></th>
                        <th th:text="#{t1.th4}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${products}" th:object="${products}">
                        <td><img src="../static/images/products" th:src="@{'/images/products/'+${p.name}+'.png'}"
                                 alt="images"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.price+'$'}"></td>
                        <td>
                            <a class="text-capitalize text-dark"
                               th:href="@{'/cart/purchase?id='+${p.id}+'&cid='+${p.category.id}}" th:text="#{t1.action}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>