<!DOCTYPE html>
<html th:replace="layout/mainLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container">
        <div class="row">
            <h4 class="lead " th:text="#{v.p1}"></h4>&nbsp;
            <span th:text="${cartSize}"></span> &nbsp;
            <h4 th:if="${cartSize < 2}" th:text="#{v.p2}"></h4>
            <h4 th:if="${cartSize >= 2}" th:text="#{v.p3}"></h4>
            <br>
        </div>
        <div class="row justify-content-center align-items-center">
            <a th:href="@{/cart/clear}" class="btn btn-link text-dark bg-warning" th:text="#{v.ac1}"></a>
            <a th:href="@{/}" class="btn btn-link text-dark bg-warning ml-5" th:text="#{v.ac2}"></a>
            <a th:href="@{/add-info}" class="btn btn-link text-dark bg-warning ml-5" th:text="#{v.ac3}"></a>
            <br>
            <br>
        </div>
        <div class="row">
            <h4 class="lead ml-auto">subtotal : €<span th:text="${#numbers.formatDecimal(subTotal,0,2)}"></span></h4>
            <br>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{t1.th2}"></th>
                        <th th:text="#{v.t.th2}"></th>
                        <th th:text="#{v.t.th3}"></th>
                        <th th:text="#{v.t.th4}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${well}" class="alert alert-danger" role="alert">
                        <span>Cart is empty</span>
                    </div>
                    <form th:action="@{/cart/update}" th:object="${cartItem}" method="post">
                        <tr th:each="it : ${cartItems}">
                            <td><img src="../static/images/products" th:src="@{'/images/products/'+${it.name}+'.png'}"
                                     alt="">
                            </td>
                            <td th:text="${it.name}"></td>
                            <td>€ <span th:text="${#numbers.formatDecimal((it.price * it.quantity),0,2)}"></span><br>
                                ( €
                                <small th:text="${it.price}"></small>/unit)
                            </td>
                            <td th:if="${!it.render}">
                                <span th:text="${it.quantity}"></span>
                                <a th:href="@{/cart/update2}"
                                   class="btn csBtn" th:text="#{v.ac4}"></a>
                            </td>
                            <td th:if="${it.render}">
                                <input style="width: 40px" type="number" min="1" th:field="*{qList}">&nbsp;
                                <input type="submit" class="btn csBtn" value="save">
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>