<!DOCTYPE html>
<html th:replace="layout/mainLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container">
        <div class="row">
            <div class="bg-warning" style="border-radius: 10px">
                <br>
                <h3 class="mr-3 ml-3" th:text="#{vc.p1}"></h3>
                <br>
                <p class="mr-3 ml-3" ><small style="font-size: medium" th:text="#{vc.p2}"></small>
                    <b><span  th:text="${cus.voucherNo}"></span></b>
                    <br>
                    <small style="font-size: medium" th:text="#{vc.p3}"></small><a href="#" th:text="#{vc.p4}"></a>.
                    <br>
                    <small style="font-size: medium" th:text="#{vc.p5}"></small>
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7">
                <table class="table table-striped">
                    <h3><b th:text="#{vc.th1}"></b></h3>
                    <thead>
                    <tr>
                        <th style="min-width: 150px" th:text="#{vc.th11}"></th>
                        <th th:text="#{vc.th2}"></th>
                        <th th:text="#{vc.th3}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" item : ${bItem}">
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td>€ <span th:text="${#numbers.formatDecimal((item.quantity * item.price),0,2)}"></span></td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <p th:if="${total2 > 10}" style="margin-left: 360px;">
                    <b th:text="#{vc.th4}"></b>€
                    <span style="margin-left: 13px;"  th:text="${#numbers.formatDecimal(deli,0,2)}"></span>
                </p>
                <p th:if="${total2 < 10}" style="margin-left: 360px;">
                    <b th:text="#{vc.th4}"></b>€
                    <span style="margin-left: 10px;"  th:text="${#numbers.formatDecimal(deli,0,2)}"></span>
                </p>
                <p style="margin-left: 464px;"><b th:text="#{vc.th5}"></b>€ <span
                        th:text="${#numbers.formatDecimal(total2,0,2)}"></span></p>
                <hr>
                <p><small style="font-size: medium" th:text="#{vc.th6}"></small>
                    <span th:text="${date}"></span></p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3><b th:text="#{vc.th7}"></b></h3>
                    </div>
                    <div class="card-body">
                        <span th:text="${cus.name}"></span>
                        <br>
                        <span th:text="${cus.address}"></span>
                        <br>
                        <p ><small style="font-size: medium" th:text="#{vc.th8}"></small>
                            <span th:text="${cus.prague}"></span></p>
                        <hr>
                        <p><b th:text="#{vc.th9}"></b> <span th:text="${cus.email}"></span></p>
                        <p><b th:text="#{vc.th10}"></b> <span th:text="${cus.phone}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>